# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [171]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [26]:
black_friday.shape

(537577, 12)

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [27]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return(black_friday.shape)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [30]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return (black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender']=="F")].shape[0])

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [157]:
def q5():
    # Retorne aqui o resultado da questão 5.
    result =((black_friday.isna().sum() / black_friday.shape[0]).max())
    return float(result)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [69]:
black_friday.isna().sum().max()

373299

In [9]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isna().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].value_counts().index[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [94]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [191]:
def q8():
    # Retorne aqui o resultado da questão 8.
    normalized_df=((black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())).mean()
    return float(normalized_df)

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [103]:
def q9():
    # Retorne aqui o resultado da questão 9.
    from sklearn.preprocessing import StandardScaler
    data = black_friday[['Purchase']]
    scaler = StandardScaler()
    x_stand = scaler.fit_transform(data)
    count = 0
    for x in x_stand:
        if -1<= x <= 1:
            count += 1

    return int(count)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [130]:
def q10():
    # Retorne aqui o resultado da questão 10.
    a = black_friday[(black_friday['Product_Category_3'].isna()) & (black_friday['Product_Category_2'].isna())].shape[0]\
    == black_friday[(black_friday['Product_Category_2'].isna())].shape[0]
    return a